<div class="outer">
  <form class="example-form" [formGroup]="signUpForm" (ngSubmit)="register()">
    <mat-form-field class="example-full-width">
      <mat-label>Full Name</mat-label>
      <input type="text" matInput formControlName="fName">
      <mat-error *ngIf="signUpForm.get('fName')?.touched && signUpForm.get('fName')?.invalid">
        Please enter a valid Name
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>User Name</mat-label>
      <input type="text" matInput formControlName="uName">
      <mat-error *ngIf="signUpForm.get('uName')?.touched && signUpForm.get('uName')?.invalid">
        Please enter a valid User Name
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email"
             placeholder="Ex. pat@example.com">
      <mat-error *ngIf="signUpForm.get('email')?.touched && signUpForm.get('email')?.invalid">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Mobile Number</mat-label>
      <input type="text" matInput formControlName="mobile"
             placeholder="Ex. 94774866554">
      <mat-error *ngIf="signUpForm.get('mobile')?.touched && signUpForm.get('mobile')?.invalid">
        Please enter a valid mobile number
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password"
      >
      <mat-error *ngIf="signUpForm.get('password')?.touched && signUpForm.get('password')?.invalid">
        Please enter a valid Password
      </mat-error>
    </mat-form-field>
    <button [disabled]="signUpForm.invalid" mat-raised-button class="sign-in-button">Register</button>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </form>

</div>

